<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="main">
            <!--LEFT-BOX-->
            <div class="left-box">
                <div class="info-box">
                    <div class="info-pic">
                        <img src="images/KC_1.jpg" class="main-pic" alt="...">
                    </div>
                    <div class="info-text">
                        <p class="text-name"><strong>Kyle Caparoso</strong></p>

                        <a href="https://www.instagram.com/ckylec4"><img src="images/social/Circled_Instagram_svg-128.png" width="32px" height="32px" class="rounded" id="img-icons" alt="..."></a>
                        <a href="https://www.linkedin.com/in/kyle-caparoso/"s><img src="images/social/Circled_Linkedin_svg-128.png" width="32px" height="32px" class="rounded" id="img-icons" alt="..."></a>
                        <a href="https://www.twitter.com/kylecprs"><img src="images/social/Circled_Twitter_svg-128.png" width="32px" height="32px" class="rounded" id="img-icons" alt="..."></a>
                    </div>
                </div>
            </div>
            <!--/LEFT-BOX-->
            <div id="mySidenav" class="sidenav">
                <a href="" class="active">Home</a>
                <!--<a href="{% url 'blog" {% if "/blog/" in request.path %}class="active"{% endif %}>Blog</a>-->
                <!--<a href="{% url 'contact" {% if "/contact/" in request.path %}class="active"{% endif %}>Contact</a>-->
            </div>

            <div class="right-box">
                <div class="box-page">
                    <div id="typedtext"></div>
                    <!--<div class="about-buttons" id="buttons">
                        <a href="#skills" id="b1" class="button">SKILLS</a>
                        <a href="#experience" id="b2" class="button">BACKGROUND</a>
                    </div>-->
                </div>
                
                <div content="content-box">
                    <div class="skills-box">
                        <div class="skills-box-outer">
                            <h3 id="skills"><span class="text-h3">What can I do?</span></h3>
                        </div>
                
                        <h2 class="sticky" style="text-align: right;">I can </h2>
                        <h2 class="sticky" style="width: 70%; float: right;">speak machine.</h2>
                
                        <div class="skills-box-inner">
                            <h3>Software Development</h3>
                            <p>7 years of experience in developing software in C, C++, Python.</p>
                        </div>
                
                        <h2 class="sticky" style="width: 70%; float: right;">control machines.</h2>
                
                        <div class="skills-box-inner">
                            <h3>Embedded Systems</h3>
                            <p>Extensive experience with Microcontrollers, Microprocessors, Embedded Linux, Embedded Android, RTOS systems.</p>
                            <p><strong>Technologies:</strong> PIC, STM32, IMX Processors</p>
                            <p><strong>Protocols:</strong> SPI, I2C, UART, TCP, UDP, USB</p>
                        </div>
                
                        <h2 class="sticky" style="width: 70%; float: right;">create circuits.</h2>
                
                        <div class="skills-box-inner">
                            <h3>Electronics</h3>
                            <p>Prototyping, Soldering, PCB layout</p>
                        </div>
                
                        <h2 class="sticky" style="width: 70%; float: right;">create websites.</h2>
                
                        <div class="skills-box-inner">
                            <h3>Web Development</h3>
                            <p>Developing websites from back-end to front-end</p>
                            <p><strong>Back-End:</strong> Django, LAMP</p>
                            <p><strong>Front-End:</strong> HTML, CSS, Javascript</p>
                        </div>
                    </div>
                    <div class="skills-box-outer">
                        <h3 id="experience"><span class="text-h3">Short history lesson...</span></h3>
                    </div>
                    <div class="experience-box">
                        <h4>Education</h4>
                        <div class="content">
                            <h3 style="text-align: left;">Heriot-Watt University, Edinburgh<span style="float: right;">2009 - 2013</span></h3>
                            <p><strong>BEng (Honours) Electrical and Electronic Engineering</strong></p>
                        </div>
                        <h4>Experience</h4>
                        <div class="timeline">
                            <div class="container left">
                            <div class="content">
                                <h2>JUL 2013</h2>
                                <p class="text-jobtitle"><strong>Graduate Design Engineer</strong></p>
                                <p class="text-jobplace"><strong>ScotSat Limited</strong></p>
                                <p>Worked on the R&D of marine satellite dish antennas and phased array antennas.</p>
                            </div>
                            </div>
                            <div class="container right">
                            <div class="content">
                                <h2>AUG 2014</h2>
                                <p class="text-jobtitle"><strong>Junior Electronics Engineer</strong></p>
                                <p class="text-jobplace"><strong>Pelamis Wave Power</strong></p>
                                <p>Part of the Electronics team.</p>
                            </div>
                            </div>
                            <div class="container left">
                            <div class="content">
                                <h2>JAN 2015</h2>
                                <p class="text-jobtitle"><strong>Electronics Engineer</strong></p>
                                <p class="text-jobplace"><strong>NERC GEF, University of Edinburgh</strong></p>
                                <p>Involved in the maintenance, testing and deployment of GNSS, Laser Scanners, LIDAR equipments for field research.</p>
                            </div>
                            </div>
                            <div class="container right">
                            <div class="content">
                                <h2>AUG 2016</h2>
                                <p class="text-jobtitle"><strong>Software Engineer</strong></p>
                                <p class="text-jobplace"><strong>Peacock Technology Limited</strong></p>
                                <p>Part of the design software engineering team, working on full lifecycles on a variety of projects.</p>
                            </div>
                            </div>
                            <div class="container left">
                            <div class="content">
                                <h2>JUL 2019</h2>
                                <p class="text-jobtitle"><strong>Senior Software Engineer</strong></p>
                                <p class="text-jobplace">Leonardo UK</strong></p>
                                <p>Working as part of the Typhoon Programme team.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <br><br><br><br>
            </div>
        </div>
        <script src="index.js"></script>
    </body>
</html>