/*
*
*/

body {
    background-color: #272D2D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    overflow: hidden;
    color: #C6C5B9;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #272D2D;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}

.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}

img {
  filter: grayscale(50%);
}

.left-box {
    background: #272D2D;
    color: white;
}

.right-box {
    padding: 1%;
    overflow-x: hidden;
    overflow-y: auto;
}

.sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    background-color: white;
    color: #272D2D;
    padding: 10px;
    top: 0;
    width: 30%;
}

.skills-box {
    background: #C6C5B9;
}

.skills-box-outer {
    text-align: center; 
    padding: 15px;
    background-color: black;
}

.skills-box-inner {
    clear: both;
    padding: 15%;
    color: black;
}

/*--NAVBAR--*/
#mySidenav {
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}

#mySidenav a {
    padding: 10px;
    text-decoration: none;
    color: #272D2D;
    background: #C6C5B9;
}

#mySidenav a.active {
    background-color: #272D2D;
    color: white;
}

#mySidenav a:hover:not(.active) {
    background-color: #272D2D;
    color: #C6C5B9;
}
/*--NAVBAR--*/

.text-h3 {
    clear: both;
    padding: 15px;
    border-radius: 10%;
    text-align: center;
    font-size: 1.5em;
}


#typedtext {
    padding: 10%;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
}

#buttons {
    padding-left: 10%;
    text-align: justify;
    display: none;
}

.button {
    padding: 15px;
    border-radius: 15px;
    color: #272D2D;
    background: #C6C5B9;
    text-decoration: none;
}

/*--timeline--*/

* {
    box-sizing: border-box;
}

.timeline {
    position: relative;
    max-width: 100vw;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #C6C5B9;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #C6C5B9;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #C6C5B9;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #C6C5B9;
    border-width: 10px 10px 10px 0;
    border-color: transparent #C6C5B9 transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    color: black;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/*--timeline--*/

/*--paragraph styles--*/

p.text-year {
    padding: 1px;
    font-size: 0.9em;
    padding-top: 5px;
}

p.text-year span {
    color: #C6C5B9;
    background-color: white;
    border-radius: 12px;
    padding: 5px;
}

p.text-jobtitle {
    font-size: 1.1em;
    text-shadow: 2px 2px 5px #C6C5B9;
    padding-left: 5px;
}

p.text-jobplace {
    font-size: 0.8em;
    color: grey;
    padding-left: 5px;
}

/*--paragraph styles--*/

/************************************************************************
***
*** for Desktops, landscape mobile phones and tablets
***
************************************************************************/

@media only screen and (min-width: 567px) {
    /* MAIN -- */
    .main {
        display: grid;
        grid-template-columns: 30% 10% 60%;
    }
    /* LEFT-BOX -- */
    .left-box {
        width: 100%;
        height: 100vh;
        position: relative;
        text-align: center;
        border-radius: 5px 0px 5px 5px;
    }
    .info-box {
        width: 90%;
        height: auto;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .main-pic {
        border-radius: 50%;
        object-fit: cover;
        width: 100%;
        height: auto;
    }
    /* NAVBAR --*/
    #mySidenav {
        width: auto;
        opacity: 100%;
    }
    #mySidenav a {
        display: block;
        border-radius: 0px 5px 5px 0px;
    }
    /* RIGHT-BOX -- */
    .right-box {
        width: 100%;
        height: 100vh;
    }
    .skills-box, .experience-box {
        width: 100%;
        height: auto;
    }
    .box-page {
        width: 100%;
        height: 100vh;
    }
}

/************************************************************************/

/************************************************************************
***
*** for mobile phones and tablets, Portrait Desktops and bigger screens
***
************************************************************************/

@media only screen and (max-width: 567px) {
    /* MAIN -- */
    .main {
        display: grid;
        grid-template-rows: 25% 10% 75%;
    }
    /* LEFT-BOX -- */
    .left-box {
        width: 100vw;
        height: 100%;
        position: relative;
        border-radius: 5px 5px 5px 0px;
    }
    .info-box {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 100%;
    }
    .main-pic {
        margin-top: 5px;
        margin-left: 5px;
        position: absolute;
        border-radius: 50%;
        object-fit: cover;
        width: 40vw;
        height: auto;
    }
    .info-text {
        margin-top: 5px;
        margin-bottom: auto;
        margin-left: 5px;
    }
    /* NAVBAR --*/
    #mySidenav {
        width: auto;
        height: auto;
    }
    #mySidenav a {
        border-radius: 0px 0px 5px 5px;
        float: left;
    }
    /* RIGHT-BOX -- */
    .right-box {
        width: 100vw;
        height: 100%;
    }
    .skills-box, .experience-box {
        width: 100vw;
        height: auto;
    }
    .box-page {
        width: 100vw;
        height: 100%;
    }
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/************************************************************************/