/* 
//
// for Desktops 
//
*/

/* BODY -- */
body {
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* MAIN -- */
.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 7% 63%;
    justify-content: center;
}

/* LEFT-BOX -- */
.left-box {
    background: whitesmoke;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    border-radius: 5px 0px 5px 5px;
}

.info-box {
    width: 90%;
    height: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main-pic {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.info-box p.text-name {
    font-size: 25px;
}

.info-box p.text-title {
    font-size: 15px;
}

/* NAVBAR --*/
#mySidenav {
    margin: 0;
    padding: 0;
    background-color: black;
    position: relative;
    width: auto;
    height: 100%;
    overflow: auto;
}

#mySidenav a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    left: -5;
    border-radius: 0px 5px 5px 0px;
}

#mySidenav a.active {
    background-color: #DF928E;
    color: white;
}

#mySidenav a:hover:not(.active) {
    background-color: #EAD2AC;
    color: black;
}


/* RIGHT-BOX -- */
.right-box {
    padding: 10px 10px 10px 10px;
    background: black;
    width: 100%;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 30px;

    position: relative;
}

#typedtext {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*
//
// for mobile phones and tablets
//
*/
@media only screen and (max-width: 768px) {

    /* BODY -- */
    body {
        background-color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    /* MAIN -- */
    .main {
        background: black;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 30% 7% 63%;
    }  

    /* LEFT-BOX -- */
    .left-box {
        background: whitesmoke;
        width: 100vw;
        height: 100%;
        position: relative;
        border-radius: 5px 5px 5px 0px;
    }

    .info-box {
        /*
        width: auto;
        height: 90%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 20%;
        bottom: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        */
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .info-pic {
        margin-left: 5%;
    }
    .main-pic {
        position: absolute;
        border-radius: 50%;
        object-fit: cover;
        width: auto;
        height: 100%;
    }

    .info-text {
        margin-top: 20px;
        margin-bottom: auto;
        margin-left: 20px;

    }
    /* NAVBAR --*/
    #mySidenav {
        margin: 0;
        padding: 0;
        background-color: black;
        position: relative;
        width: 100%;
        height: auto;
        overflow: auto;
    }

    #mySidenav a {
        color: white;
        padding: 15px;
        text-decoration: none;
        float: left;
        border-radius: 0px 0px 5px 5px;
    }
    
    #mySidenav a.active {
        background-color: #DF928E;
        color: white;
    }
    
    #mySidenav a:hover:not(.active) {
        background-color: #EAD2AC;
        color: black;
    }

    /* RIGHT-BOX -- */
    .right-box {
        padding: 10px 10px 10px 10px;
        background: black;
        width: 100vw;
        height: 100%;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: 30px;

        position: relative;
    }

    #typedtext {
        text-align: center;
    }
}
  